

.entry {
    width: 100%;
    margin-bottom: 10px;
}

.entry_header {
    width: 100%;
    display: flex;
    align-items: stretch;
    height: 50px;
    padding-left: 15px;
    background: var(--color-white);
    box-sizing: border-box;
    color: black;
    border: 1px solid black;
    border-bottom-width: medium;
}

.entry_header_content {
    display: flex;
    align-items: center;
    width: 100%;
}

.entry_button-green {
    width: 100px;
    background-color: var(--color-green);
    border: none;
    color: white;
}

.entry_button-red {
    width: 100px;
    background-color: var(--color-drop-red);
    border: none;
    color: white;
}

.entry_button-orange {
    width: 100px;
    background-color: var(--color-drop-orange);
    border: none;
    color: white;
}

.entry_body {
    width: 100%;
    height: 100%;
    background-color: var(--color-entry-background);
    padding: 10px 0;
}

.entry_body_group {
    display: flex;
    flex-direction: column;
    background-color: var(--color-entry-background);

}

.entry_body_group-ver {
    background-color: var(--color-entry-background);
    display: flex;
    justify-content: space-evenly;

}

.entry_body_group legend {
    font-size: large;
}

.entry_body_group label {
    width: 100%;
}

.entry_body_group label input {
    width: 100%;
}