:root{
    --color-navy : #314E71;
    --color-white : white;
    --color-gray-lite : #E8E8E8;
}

body{
    padding: 0;
    margin: 0;
}

.input_incorrect{
    border-bottom: 3px red solid;
    box-sizing: border-box;
    animation: shake .5s linear ;
}

@keyframes shake {
    0%{
        transform: translateX(5px);
    }
    25%{
        transform: translateX(-5px);

    }
    50%{
        transform: translateX(5px);
    }
    75%{
        transform: translateX(-5px);

    }
    100%{
        transform: translateX(0px);
    }
}