
* {
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    display: flex;
    align-items: center;
}

.city-input-container {
    margin-right: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.city-input {
    font-size: 20px;
    padding: 3px;
}

.date-input-container {
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.date-input {
    font-size: 20px;
}

.location-table {
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

.column-title {
    font-size: 20px;
    padding-bottom: 10px;
}

.spacing {
    padding: 0px 20px;
}

.hrDiv{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 5px;
}