.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.login_logo {
    height: 200px;
    width: auto;
   margin-bottom: 30px;
}
.login-formTitle{
    margin-bottom: 10px;

}

.login_form {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;

}
.login_form_inputs{
    width: 80%;

}


.login_form input[type="submit"] {
    width: 60px;
    height: unset;
    margin-left:5px ;
    background: url("/img/icon-arrow.svg") center no-repeat  , var(--color-navy);
    background-size: 30% 30%;

}

.login_forgotPass{
    height: 50px;
    width: 100%;
    background-color: var(--color-navy);
    color: var(--color-white);
    border: 0;
}
.login_error{
    color: red;
}

.resetpassword_form, input.fullWidth, div.fullWidth{
    width: 100%;
}
