.mainWrapper {
    display: flex;
    flex-direction: row;

}

.mainWrapper_navbar {
    display: flex;
    flex-direction: column;
}

.navbar_top_links {
    display: flex;
    flex-direction: row;
}

.mainWrapper_navbar img {
    width: 70%;
    height: 70%;
}