
.mainWrapper {
    display: flex;
    flex-direction: row;
}

.mainWrapper_navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 100vh;
    background-color: var(--color-navy);

}

.navbar_button_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar_top_links {
    margin-top: 10px;
    height: 150px;
    width: 100%;
}

.navbar_top_links a {
    color: white;
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-transparent-gray);
    margin-bottom: 5px;
    text-decoration: none;

}

.navbar_bottom_links {
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
}

.navbar_bottom_links a {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: var(--color-transparent-gray);
    margin-bottom: 5px;
    text-decoration: none;
}



.mainWrapper_navbar img {
    padding-top: 20px;
    margin-bottom: 10px;
}

.navbar_top_links a:hover, .navbar_bottom_links a:hover{
    background-color: var(--color-tranparent-green) ;
}

.selected {
    background-color: var(--color-tranparent-green) !important;
}

.logout_button {
    background-color: var(--color-darkred) !important;
}