<link rel="stylesheet" href="/css/alerts.css">
<script src="/scripts/alerts.js" defer></script>
<script src="/scripts/entries.js" defer></script>
<link rel="stylesheet" href="/css/entries.css">


<section class="alerts_page">

    <div class="alerts_headerContainer">

        {{>alertsEntry headerMode=true title="Alerts" headerClass="alerts_header"  }}

    </div>


    <div class="alerts_scrollable">

        {{#each data}}
            {{>alertsEntry}}
        {{/each}}
    </div>
</section>


