<link rel="stylesheet" href="/css/alerts.css">
<section class="alerts_page">

    <div class="alerts_headerContainer">

        {{>alertsEntry headerMode=true title="Alerts" headerClass="alerts_header"  }}

    </div>


    <div class="alerts_scrollable">

        {{#each data}}
            {{>alertsEntry}}
        {{/each}}
    </div>
</section>


