<link rel="stylesheet" href="/css/lists.css">
<script src="/scripts/alerts.js" defer></script>
<script src="/scripts/entries.js" defer></script>
<link rel="stylesheet" href="/css/entries.css">


<section class="list_page">

    <div class="list_titleContainer">

        {{>alertsEntry headerMode=true title="Alerts" headerClass="list_title"  }}

    </div>


    <div class="list_scrollableContent">

        {{#each data}}
            {{>alertsEntry}}
        {{/each}}
    </div>
</section>


