<link rel="stylesheet" href="/css/changePassword.css">
<link rel="stylesheet" href="/css/index.css">

<div class="changePassword">

    <form class="changePassword_form" method="post">
        <input class="input" type="password" placeholder="password..." name="password" />
        <input class="input" type="password" placeholder="confirm password..." name="confirmPassword" />
        <input class="input" type="submit" value="Update">
    </form>
    {{>messages}}


</div>