<link rel="stylesheet" href="/css/desktop.css">
<link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>

<section class="desktop3Section">
    {{#each data }}
    <div class="editContainer">
        <button>Edit</button>
        <p class="titleParagraph">{{title.en}}</p>
        <p>{{addedDate}}</p>
    </div>
    {{/each}}

    <div class="languageContainer">
        <h2>Hebrew</h2>
        <label>Title</label>
        <input type="text" placeholder="Do we want a placeholder?" />
        <label>Subtitle</label>
        <input type="text" placeholder="Do we want a placeholder?" />
    </div>
    <div class="languageContainer">
        <h2>English</h2>
        <label>Title</label>
        <input type="text" placeholder="Do we want a placeholder?" />
        <label>Subtitle</label>
        <input type="text" placeholder="Do we want a placeholder?" />
    </div>
    <div class="languageContainer">
        <h2>Arabic</h2>
        <label>Title</label>
        <input type="text" placeholder="Do we want a placeholder?" />
        <label>Subtitle</label>
        <input type="text" placeholder="Do we want a placeholder?" />
    </div>

    <div class="editContainer" id="finalEdit">
        <button>Edit</button>
        <input />
        <p>Today's Date?</p>
    </div>
</section>