<link rel="stylesheet" href="/css/desktop.css">
<link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
<script type="application/javascript">
    function log(index) { document.getElementById(`alerts_${index}`).classList.toggle("hidden") }
</script>


<section class="desktop3Section">
    {{#each data}}
    <div class="editContainer">
        <button onclick="log({{@index}})">Edit</button>
        <p class="titleParagraph">{{title.en}}</p>
        <p>{{dateHelper addedDate}}</p>
    </div>



    <div class="editExpand hidden" id="alerts_{{@index}}">
        <div class="languageContainer">
            <h2>Hebrew</h2>
            <label>Title</label>
            <input type="text" placeholder="Do we want a placeholder?" />
            <label>Subtitle</label>
            <input type="text" placeholder="Do we want a placeholder?" />
        </div>
        <div class="languageContainer">
            <h2>English</h2>
            <label>Title</label>
            <input type="text" placeholder="Do we want a placeholder?" />
            <label>Subtitle</label>
            <input type="text" placeholder="Do we want a placeholder?" />
        </div>
        <div class="languageContainer">
            <h2>Arabic</h2>
            <label>Title</label>
            <input type="text" placeholder="Do we want a placeholder?" />
            <label>Subtitle</label>
            <input type="text" placeholder="Do we want a placeholder?" />
        </div>
    </div>

    {{/each}}
</section>