<link rel="stylesheet" href="/css/desktop.css">
<link rel="stylesheet" href="/css/index.js">
<script type="application/javascript" defer>
    function expand(element) {
        element.parentElement.parentElement.children[1].classList.toggle("hidden")
    }

    function edit(element) {
        element.parentElement.parentElement.children[1].classList.toggle("notClickable")
        element.parentElement.querySelector("[data-name='edit']").classList.toggle("hidden")
        element.parentElement.querySelector("[data-name='save']").classList.toggle("hidden")
        element.parentElement.querySelector("[data-name='delete']").classList.toggle("hidden")
    }
    function save(element) {
        edit(element)
    }
    function del(id) {
    }
</script>


<section class="page">
    <div class="scrollable">
        {{#each data}}
            <form class="entry" name="post" action="/api/alerts/{{data.id}}" >
                <div class="entry_header" >
                    <div class="entry_header_content" onclick="expand(this)">
                        <span class="titleParagraph">{{title.en}}</span>
                    </div>
                    <input type="button" class="entry_button-green"  data-name="edit" value="Edit" onclick="edit(this)" />
                    <input type="submit" class="entry_button-green hidden" onclick="save(this)" data-name="save" value="Save"/>
                    <input type="button" class="entry_button-red hidden" onclick="del(this)" data-name="delete" value="Delete"/>
                </div>
                <div class="entry_body hidden notClickable" >
                    {{>fieldset
                            group="hebrew"
                            title=title.he
                            titleLabel="title"
                            subTitle=context.he
                            subTitleLabel="sub-title"
                    }}
                    {{>fieldset
                            group="English"
                            title=title.en
                            titleLabel="title"
                            subTitle=context.en
                            subTitleLabel="sub-title"
                    }}
                    {{>fieldset
                            group="Arabic"
                            title=title.ar
                            titleLabel="title"
                            subTitle=context.ar
                            subTitleLabel="sub-title"
                    }}

                </div>
            </form>
        {{/each}}
    </div>
</section>


<!--  <div class="languageContainer">
                <h2>Hebrew</h2>
                <label>Title</label>
                <input type="text" placeholder="Do we want a placeholder?"/>
                <label>Subtitle</label>
                <input type="text" placeholder="Do we want a placeholder?"/>
            </div>
            <div class="languageContainer">
                <h2>English</h2>
                <label>Title</label>
                <input type="text" placeholder="Do we want a placeholder?"/>
                <label>Subtitle</label>
                <input type="text" placeholder="Do we want a placeholder?"/>
            </div>
            <div class="languageContainer">
                <h2>Arabic</h2>
                <label>Title</label>
                <input type="text" placeholder="Do we want a placeholder?"/>
                <label>Subtitle</label>
                <input type="text" placeholder="Do we want a placeholder?"/>
            </div>-->