<div class="goals_form_container">
    <div class="goals_form_title">
        <span>Goal</span>
    </div>
    <form class="goals_form" action="POST">
        <label for="Current">Current 
            <input type="number" min="0"/>
        </label>
        <label for="Current">Yearly Goal 
            <input type="number" min="0"/>
        </label>
        <button type="submit" class="goals_form_saveButton">Save</button>
    </form>
</div>