<link rel="stylesheet" href="/css/locations.css">

<fieldset class="container">
    <legend>Download for Windows</legend>
    <a href="/exeFiles/fetchDataFromMada-win.exe" target="_blank" download>
        <button class="button">runs once only</button>
    </a>
    <div class="space"></div>

    <a href="/exeFiles/fetchDataFromMadaEveryHalfHour-win.exe" target="_blank" download>
        <button class="button">runs every half an hour</button>
    </a>
    <div class="space"></div>

    <a href="/exeFiles/fetchDataFromMadaEveryHour-win.exe" target="_blank" download>
        <button class="button">runs every hour</button>
    </a>
    <div class="space"></div>


    <a href="/exeFiles/fetchDataFromMadaEvery2Hours-win.exe" target="_blank" download>
        <button class="button">runs every two hour</button>
    </a>
    <div class="space"></div>


    <a href="/exeFiles/fetchDataFromMadaEvery3Hours-win.exe" target="_blank" download>
        <button class="button">runs every three hour</button>
    </a>

</fieldset>