<link rel="stylesheet" href="/css/locations.css">
<div style="direction: rtl;">
    <div class="input-container">
        <label class="date-input-container" for="datePicker">
            תאריך
            <input type="date" class="date-input" name="" id="datePicker">
        </label>

        <label class="city-input-container" for="cityPicker">
            כתובת
            <select class="city-input" name="" id="cityPicker">

            </select>
        </label>
    </div>

    <div id="showData">

    </div>
</div>


<script>
    var original = decodeURIComponent("{{{result}}}");
</script>
<script src="/scripts/locations.js" ></script>

