<link rel="stylesheet" href="/css/locations.css">
<div class="container">

    <fieldset >
        <legend>Download - runs once</legend>
        <div class="buttonsContainer">

            <a href="/exeFiles/fetchDataFromMada-win.exe" target="_blank" download>
                <button>windows</button>
            </a>
            <a href="/exeFiles/fetchDataFromMada-macos" target="_blank" download>
                <button>mac os</button>
            </a>
            <a href="/exeFiles/fetchDataFromMada-linux" target="_blank" download>
                <button>linux</button>
            </a>
        </div>

    </fieldset>
    <div class="space"></div>
    <fieldset>
        <legend>Download - runs every 3 hours</legend>
        <div class="buttonsContainer">
            <a href="/exeFiles/fetchDataFromMadaEvery3Hours-win.exe" target="_blank" download>
                <button>windows</button>
            </a>
            <a href="/exeFiles/fetchDataFromMadaEvery3Hours-macos" target="_blank" download>
                <button>mac os</button>
            </a>
            <a href="/exeFiles/fetchDataFromMadaEvery3Hours-linux" target="_blank" download>
                <button>linux</button>
            </a>
        </div>

    </fieldset>
</div>
