<link rel="stylesheet" href="/css/login.css">
<div class="login">

    <main class="login_container">
        <img src="/img/img-logo.svg" alt="" class="login_logo" >
        <h2 class="login-formTitle">Admin Login</h2>
        <form action="" class="login_form {{#if error}}input_incorrect{{/if}}">
            <input type="password" placeholder="password" >
            <input type="submit" value="">
        </form>
        <button class="login_forgotPass">Forgot your password?</button>

        <h2 class="login_error">{{error}}</h2>

    </main>


</div>