<link rel="stylesheet" href="/css/login.css">
<div class="login">

    <main class="login_container">
        <img src="/img/img-login.svg" alt="">
        <span>Admin login</span>
        <form action="" class="login_form">
            <input type="password" placeholder="password">
            <input type="submit">
        </form>
    </main>


</div>