<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/index.css">
<div class="login">
    <main class="login_container">
        <img src="/img/img-logo.svg" alt="" class="login_logo">
        <h2 class="login-formTitle">Admin Login</h2>
        <form action="/login"  method="post" class="login_form {{#if error}}input_incorrect{{/if}}" >
            <div class="login_form_inputs">
                <input class ="input" type="email" placeholder="email..." name="email"  />
                <input class ="input" type="password" placeholder="password" name="password" />
            </div>
            <input class ="input" type="submit" value="">
        </form>
        <button class="login_forgotPass" >Forgot your password?</button>

        <h2 class="login_error">{{error}}</h2>

    </main>


</div>