<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/index.css">

<div class="resetpassword login">
    <main class="resetpassword_container login_container">
        <img src="/img/img-logo.svg" alt="" class="resetpassword_logo login_logo">
        <h2 class="reset-password-formTitle">Admin Login</h2>
        <form action="/resetpassword" method="post" class="resetpassword_form ">
            <div class="login_form_inputs login_form fullWidth">
                <input class="input {{#if error}}input_incorrect{{/if}}" type="email" placeholder="email..."
                    name="emailAddress" />


            </div>
            <input class="input" type="submit" value="send">

        </form>
        {{> messages}}
    </main>


</div>