<div class="resetpassword">
    <main class="resetpassword_container">
        <img src="/img/img-logo.svg" alt="" class="resetpassword_logo">
        <h2 class="reset-password-formTitle">Admin Login</h2>
        <form action="/resetpassword"  method="post" class="resetpassword_form {{#if error}}input_incorrect{{/if}}" >
            <div class="login_form_inputs">
                <input type="email" placeholder="email..." name="emailAddress"  />
            </div>
            <input type="submit" value="send">
        </form>
        {{> messages}}
    </main>


</div>