<link rel="stylesheet" href="/css/lists.css">
<script src="/scripts/homeMenu.js" defer></script>
<script src="/scripts/entries.js" defer></script>
<link rel="stylesheet" href="/css/entries.css">
<link rel="stylesheet" href="/css/redirectionLinkEntry.css">



<section class="list_page">

    <div class="list_titleContainer">

        {{>redirectionLinkEntry
                routeName="settingsMenu"
                headerMode=true
                title="Settings Menu"
                headerClass="list_title"
                defaultIconRoute="/img/icon-info-black.svg"
        }}

    </div>


    <div class="list_scrollableContent">

        {{#each data}}
            {{>redirectionLinkEntry
                    routeName="settingsMenu"
                    defaultIconRoute="/img/icon-info-black.svg"
                    deleteRoute=(strConcat "/settingsmenu/delete/" id )
            }}
        {{/each}}
    </div>
</section>


