<section class="desktop3Section">
    <div class="editContainer">
        <button />
        <input />
        <p>Today's Date?</p>
    </div>
    <div class="editContainer">
        <button />
        <input />
        <p>Today's Date?</p>
    </div>
    <div class="languageContainer">
        <h2>Hebrew</h2>
        <label>Title</label>
        <input type="text" placeholder="Do we want a placeholder?" />
        <label>Subtitle</label>
        <input type="text" placeholder="Do we want a placeholder?" />
    </div>
        <div class="languageContainer">
        <h2>English</h2>
        <label>Title</label>
        <input type="text" placeholder="Do we want a placeholder?" />
        <label>Subtitle</label>
        <input type="text" placeholder="Do we want a placeholder?" />
    </div>
        <div class="languageContainer">
        <h2>Arabic</h2>
        <label>Title</label>
        <input type="text" placeholder="Do we want a placeholder?" />
        <label>Subtitle</label>
        <input type="text" placeholder="Do we want a placeholder?" />
    </div>

    <div class="editContainer">
        <button />
        <input />
        <p>Today's Date?</p>
    </div>
</section>

section.desktop3Section{}
div.editContainer{}
.editContainer button {}
.editContainer input {}
.editContainer p {}

div.languageContainer{}
languageContainer h2 {}
languageContainer input {}
languageContainer label {}
