
<div class="mainWrapper">
    <div class="mainWrapper_navbar">
        <img src="/img/img-logo.svg" alt="blood-donor">
        <div class="navbar_button_container">
        <div class="navbar_top_links">
            <a><span>Alerts</span></a>
            <a><span>Goals</span></a>
            <a><span>Home Menu</span></a>
        </div>
        <div class="navbar_bottom_links">
            <a><span>Change password</span></a>
            <a><span>Logout</span></a>
        </div>
        </div>
        
    </div>
</div>
