{{#if signedIn}}
<div class="mainWrapper">
    <div class="mainWrapper_navbar">
        <img src="/img/img-logo.svg" alt="blood-donor">
        <div class="navbar_button_container">
        <div class="navbar_top_links">
            <a href="/alerts" class="{{#if (equals selectedNavbarItem 'alerts')}}selected{{/if}}"><span>Alerts</span></a>
            <a href="/goals" class="{{#if (equals selectedNavbarItem 'goals')}}selected{{/if}}"><span>Goals</span></a>
            <a href="/homeMenu" class="{{#if (equals selectedNavbarItem 'homeMenu')}}selected{{/if}}"><span>Home Menu</span></a>
            <a href="/locations" class="{{#if (equals selectedNavbarItem 'locations')}}selected{{/if}}"><span>Locations</span></a>
        </div>
        <div class="navbar_bottom_links">
            <a class="{{#if (equals selectedNavbarItem 'changePassword')}}selected{{/if}}" href="/changePassword"><span>Change password</span></a>
            <a class="logout_button" href="/logout"><span>Logout</span></a>
        </div>
        </div>
        
    </div>
</div>
{{/if}}