<!DOCTYPE html>
<html>
 <head>
  <title>Blood Donor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/index.css">

  <!-- //web font -->
</head>
 <body>
  {{> navBar}}
<div class="main_content_container">
  {{{body}}}
</div>

</body>
 </html> 